In [ ]:
#Creating a nested dictionary
my_family = {
   "child1": {
    "name": "Ain Aliya",
    "year": 2002
  },
    "child2": {
    "name" : "Ain Safieya",
    "year" : 2004
  },
    "child3": {
    "name" : "Ain Ariesya",
    "year" : 2007
  },
    "child4":{
    "name" : "Qaseh Nur Ain",
    "year" : 2011
  }
}

print(my_family)

{'child1': {'name': 'Ain Aliya', 'year': 2002}, 'child2': {'name': 'Ain Safieya', 'year': 2004}, 'child3': {'name': 'Ain Ariesya', 'year': 2007}, 'child4': {'name': 'Qaseh Nur Ain', 'year': 2011}}

In [1]:
#Three (3) existing dictionaries added to a new dictionary

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print (myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [2]:
#Accessing Items in Nested Dictionaries

#print(myfamily["child2"])

print(my_family["child2"]["name"])

NameError: name 'my_family' is not defined

In [3]:
#Loop through Nested Dictionaries

for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

print("*************************")

for x, obj in my_family.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011
*************************

NameError: name 'my_family' is not defined

In [ ]:
#Using Loop to access Dictionary #1
d = {"red":1, "blue":2, "yellow":3}
for color_key, value in d.items():
  print (color_key, "represents by value", d[color_key])

red represents by value 1
blue represents by value 2
yellow represents by value 3

In [ ]:
#Using Loop to access Dictionary #2
pakaian = {1:"Baju Kurung", 2:"Baju Melayu", 3:"Kurta", 4:"Baju Kebaya", 5:"Saree", 6: "Cheongsam"}
for choice, value in pakaian.items():
  print (choice, "adalah pakaian", pakaian[choice])

1 adalah pakaian Baju Kurung
2 adalah pakaian Baju Melayu
3 adalah pakaian Kurta
4 adalah pakaian Baju Kebaya
5 adalah pakaian Saree
6 adalah pakaian Cheongsam

In [ ]:
#printing content of dictionary (recap of almost identical to lists)
print (pakaian)

{1: 'Baju Kurung', 2: 'Baju Melayu', 3: 'Kurta', 4: 'Baju Kebaya', 5: 'Saree', 6: 'Cheongsam'}

In [ ]:
#deleteng item using key from dictionary
#del pakaian[1]
print (pakaian)

#del pakaian[5]
#del pakaian[6]
del pakaian[4]

{2: 'Baju Melayu', 3: 'Kurta', 4: 'Baju Kebaya'}

In [ ]:
#deleting the whole dictionary
#del pakaian
print (pakaian)

NameError: name 'pakaian' is not defined

In [ ]:
child3 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child1 = {
  "name" : "Linus",
  "year" : 2011
}
child5 = {
  "name" : "Danny",
  "year" : 2013
}
child4 = {
  "name" : "Linus",
  "year" : 2014
}

myfamily = {
  "child3" : child3,
  "child2" : child2,
  "child1" : child1,
  "child5" : child5,
  "child4" : child4
}

print (myfamily)
print ("\n")
print ("\n")
print("_________________________________________________________")
print ("\n")
print ("\n")
print(sorted(myfamily))

{'child3': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child1': {'name': 'Linus', 'year': 2011}, 'child5': {'name': 'Danny', 'year': 2013}, 'child4': {'name': 'Linus', 'year': 2014}}




_________________________________________________________




['child1', 'child2', 'child3', 'child4', 'child5']

In [ ]:
#another example from previous one with modified code; we try to sort the entry based on key 'child#'

child3 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child1 = {
  "name" : "Linus",
  "year" : 2011
}
child5 = {
  "name" : "Danny",
  "year" : 2013
}
child4 = {
  "name" : "Linus",
  "year" : 2014
}

myfamily = {
  "child3" : child3,
  "child2" : child2,
  "child1" : child1,
  "child5" : child5,
  "child4" : child4
}

print (myfamily)

print ("******************************")

for x in sorted(myfamily):
  print ( x, myfamily[x] )

print(myfamily)

{'child3': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child1': {'name': 'Linus', 'year': 2011}, 'child5': {'name': 'Danny', 'year': 2013}, 'child4': {'name': 'Linus', 'year': 2014}}
******************************
child1 {'name': 'Linus', 'year': 2011}
child2 {'name': 'Tobias', 'year': 2007}
child3 {'name': 'Emil', 'year': 2004}
child4 {'name': 'Linus', 'year': 2014}
child5 {'name': 'Danny', 'year': 2013}
{'child3': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child1': {'name': 'Linus', 'year': 2011}, 'child5': {'name': 'Danny', 'year': 2013}, 'child4': {'name': 'Linus', 'year': 2014}}

In [ ]:
#Using max() method that will return the key that has max value

inputofnumber = {'1':300, '2':434, '3':456, '4':777, '5':311, '6':290, '7':891 }

print (inputofnumber)

{'1': 300, '2': 434, '3': 456, '4': 777, '5': 311, '6': 290, '7': 891}

In [ ]:
inputofnumber = {'1':300, '2':434, '3':456, '4':777, '5':311, '6':290, '7':891 }
max(inputofnumber, key=lambda i: inputofnumber[i])

'7'

In [ ]:
my_dict = {'key1': 10, 'key2': 20, 'key3': 30}

max_key = max(my_dict, key=my_dict.get)
print("Key with the maximum value:", max_key)

Key with the maximum value: key3

In [ ]:
dict1 = {'name': 'Alice', 'age': 30, 'city': 'New York'}
dict2 = {'name': 'Bob', 'age': 25, 'city': 'Los Angeles'}
dict3 = {'name': 'Charlie', 'age': 35, 'city': 'Chicago'}

dic4 = {}

for d in (dict1, dict2, dict3):
  dic4.update(d)
print (dic4)

{'name': 'Charlie', 'age': 35, 'city': 'Chicago'}

In [ ]:
dict1 = {1: 30, 2: 25}
dict2 = {3: 30, 4: 25}
dict3 = {5: 30, 6: 25}

# Concatenating the dictionaries
#concatenated_dict = {}
#concatenated_dict.update(table1)
#concatenated_dict.update(table2)
#concatenated_dict.update(table3)

# Printing the concatenated dictionary
#print("Concatenated dictionary:", concatenated_dict)


dict4={}
for d in (dict1, dict2, dict3):
  dict4.update(d)
print (dict4)

{1: 30, 2: 25, 3: 30, 4: 25, 5: 30, 6: 25}

In [ ]:
#compare the two snippets output: SNIPPET #1

dict1 = {'name': 'Alice', 'age': 30, 'city': 'New York'}
dict2 = {'name': 'Bob', 'age': 25, 'city': 'Los Angeles'}
dict3 = {'name': 'Charlie', 'age': 35, 'city': 'Chicago'}

dic4 = {}

for d in (dict1, dict2, dict3):
  dic4.update(d)
print (dic4)

{'name': 'Charlie', 'age': 35, 'city': 'Chicago'}

In [ ]:
#compare the two snippets output: SNIPPET #2
table1 = {1: 30, 2: 25}
table2 = {3: 30, 4: 25}
table3 = {5: 30, 6: 25}

table4 = {}

for d in (table1, table2, table3):
    table4.update(d)

print("Concatenated dictionary:", table4)

Concatenated dictionary: {1: 30, 2: 25, 3: 30, 4: 25, 5: 30, 6: 25}

In [ ]:
#Solution for SNIPPET #1 to produce same output as SNIPPET #2:
#Change the key into unique keys

dict1 = {'name1': 'Alice', 'age1': 30, 'city1': 'New York'}
dict2 = {'name2': 'Bob', 'age2': 25, 'city2': 'Los Angeles'}
dict3 = {'name3': 'Charlie', 'age3': 35, 'city3': 'Chicago'}

dic4 = {}

for d in (dict1, dict2, dict3):
  dic4.update(d)
print (dic4)

{'name1': 'Alice', 'age1': 30, 'city1': 'New York', 'name2': 'Bob', 'age2': 25, 'city2': 'Los Angeles', 'name3': 'Charlie', 'age3': 35, 'city3': 'Chicago'}

In [ ]:
#searching the dictionary for item
dic1 = {}
dic1["apple"] = 10
dic1["banana"] = 30
dic1["pineapple"] = 14

print (dic1)
print("**************************************************************************************")
print ("now to test whether the items in dictionay contains search item, ie: \"apple\" or not:")
search = input("type in the fruit you want to search: ")
if search in dic1:
  print ("dic1 has", search, "with", dic1[search], "piece(s)")
else:
  print ("dic1 does not have", search)

{'apple': 10, 'banana': 30, 'pineapple': 14}
**************************************************************************************
now to test whether the items in dictionay contains search item, ie: "apple" or not:
type in the fruit you want to search: pineapple
dic1 has pineapple with 14 piece(s)

In [ ]:
#cari saiz dictionary

print ("saiz dic1 adalah", len(dic1))

saiz dic1 adalah 3

In [ ]:
#Exercise Loop

proton = {1:"Proton Wira", 2:"Proton Iswara", 3:"Proton Persona", 4:"Proton Juara"}

for x in proton:
  print(x,proton[x])

1 Proton Wira
2 Proton Iswara
3 Proton Persona
4 Proton Juara

In [ ]:
#Exercise Sum

inputuser = input("Masukkan bilangan item untuk dictionary: ")
dic3 ={}
for x in range(1,int(inputuser)+1):
  #dic3[x]=x*x
  dic3[x]=int(input("masukkan nombor integer:"))
print(dic3)
sum = 0
for x in dic3:
  sum = sum + dic3[x]
print ("Jumlah kesemua nilai dalam dictionary adalah: ",sum)

Masukkan bilangan item untuk dictionary: 3
masukkan nombor integer:2
masukkan nombor integer:3
masukkan nombor integer:4
{1: 2, 2: 3, 3: 4}
Jumlah kesemua nilai dalam dictionary adalah:  9

In [4]:
#Exercise Square

inputuser = input("Masukkan bilangan item untuk dictionary: ")
dic2 ={}
for x in range(1,int(inputuser)+1):
  dic2[x]=x*x
print(dic2)


#Kita dah tamat utk part Dictionay. Next video: Numpy dan Dataframe...

Masukkan bilangan item untuk dictionary: 2
{1: 1, 2: 4}